name: check_go

on:
  push:
    paths-ignore:
      - "./proto/**.proto"
  workflow_call:
  workflow_dispatch:

defaults:
  run:
    working-directory: ./go
jobs:
  test:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v4
        with:
          go-version-file: "go/go.mod"
          cache: true
          cache-dependency-path: go/go.sum
      - uses: golangci/golangci-lint-action@v3
        with:
          version: v1.50.0
          skip-cache: true
          working-directory: go
      - run: go test -v ./...
