name: compile_buf

on:
  push:
    paths:
      - .github/workflows/*.yaml
      - .github/workflows/*.yml
      - proto/**
      - buf.*.yaml
    branches-ignore:
      - main
      - deployment

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6
        with:
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          ref: ${{ github.event.pull_request.head.ref }}
      - uses: bufbuild/buf-setup-action@v1
      - uses: bufbuild/buf-lint-action@v1
      - uses: actions/setup-go@v4
        with:
          go-version-file: "go/go.mod"
      - run: |
          go install google.golang.org/protobuf/cmd/protoc-gen-go@v1.28
          go install github.com/bufbuild/connect-go/cmd/protoc-gen-connect-go@v0.5.0
          go install github.com/pseudomuto/protoc-gen-doc/cmd/protoc-gen-doc@v1.5.1
          go install github.com/envoyproxy/protoc-gen-validate@v0.6.13
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "dir=$(yarn config get cacheFolder)" >> $GITHUB_OUTPUT
        working-directory: ./client
      - uses: actions/cache@v3
        id: yarn-cache
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - run: yarn install --immutable
        working-directory: ./client
      - run: buf format -w
      - run: make buf
      - name: Add & Commit
        uses: EndBug/add-and-commit@v9.1.4
        with:
          default_author: github_actions

      - uses: golangci/golangci-lint-action@v3
        with:
          version: v1.49.0
          skip-cache: true
          working-directory: go
      - run: go test -v ./...
        working-directory: go
      - run: yarn run check
        working-directory: client
      - run: yarn run lint
        working-directory: client
